@model BTCPayServer.Vault.Views.Prompt.AuthorizeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Header" />
</head>
<body class="bg-light">

    <section>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100 text-center">Permission request</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>The website <code>@Model.Origin</code> is requesting access to hardware wallets connected to your computer.</p>
                            <p>By clicking authorize, you will allow the website to access through your browser :</p>
                            <ul>
                                <li>See all the addresses of wallets plugged to this computer</li>
                                <li>Enumerate the wallets plugged to this computer</li>
                                <li>Asking for signature of transaction to hardware wallets plugged to this computer</li>
                            </ul>
                            <p>If you grant permissions, you will be to revoke those anytime you want.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <form method="post">
                                <button name="command" class="btn btn-primary w-25" type="submit" value="confirm">Authorize</button>
                                <button name="command" class="btn btn-danger w-25" type="submit" value="cancel">Deny</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
