<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Header" />
</head>
<body id="page-top">
    <div id="wrapper">
        <div class="navbar-nav bg-dark sidebar sidebar-dark accordion">
            <div class="navbar-brand" style="margin-top:50px; margin-bottom:50px;"><img style="max-width:100%;" src="~/images/BTCPayServer.svg" alt="BTCPayServer" /></div>
            <hr class="sidebar-divider" />
            @*<li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-wallet"></i>
                        <span>Wallets</span>
                    </a>
                </li>*@
            <span class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon fa fa-key"></i>
                    <span>Permissions</span>
                </a>
            </span>
        </div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
                        </div>
                    </div>
                    <div class="row">
                        <partial name="StatusMessage" />
                    </div>
                    @RenderBody()
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; BTCPayServer</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
