@addTagHelper *, BundlerMinifier.TagHelpers
@{ 
    if (ViewData["Title"] is null)
        ViewData["Title"] = "BTCPayServer Vault";
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"]</title>
@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
<link rel="stylesheet" href="~/lib/sb-admin-2/sb-admin-2.css" />
